*, *::before, *::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    font-family: 'roboto';
    margin: 0;
}

:root {
    --bgrnd-color1: #03031b;
    --bgrnd-color2: #000000;
    --base-color: #3794e0;
    --dashboard-font-color: white;
    --base-font-color: white;
}

body {
    height: 100%;
    width: 100%;
}

/* div {
    border: 1px solid red;
} */

.main {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows:  1fr 5fr;
}

.header {
    color: var(--base-font-color);
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    background-color: var(--bgrnd-color2);
    padding: 30px 70px 30px 50px;
}

.sidebar {
    color: var(--base-font-color);
    grid-row: 1 / 3;
    display: grid;
    background-color: var(--bgrnd-color2);
    border-right: 1px solid #797979;
    align-items: center;
    justify-content: center;
}

.content {
    color: var(--base-font-color);
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: var(--bgrnd-color1);
    border-top: 1px solid #797979;
}

.projects {
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.svg {
    max-height: 30px;
}

.profile,
.search {
    height: 50px;
    display: flex;
    align-items: center;
    gap: 30px;
    align-self: end;
}

.profile {
    justify-content: end;
}

.welcome {
    display: flex;
    gap: 20px;
}

.welcome-msg {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input[type="search"] {
    width: 800px;
    height: 30px;
    background-color: var(--bgrnd-color1);
    border-radius: 50px;
    border: none;
}

.btns {
    display: flex;
    gap: 40px;
    justify-content: end;
    align-items: center;
}
button {
    font-size: 16px;
    font-weight: bold;
    width: 100px;
    height: 40px;
    background-color: var(--base-color);
    color: white;
    border-radius: 50px;
    border: none;
}

.dashboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    align-self: start;
    padding: 20px;
}

.nav1,
.nav2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 15px;
    align-items: center;
}

.nav1 > p,
.nav2 > p {
    font-weight: bold;
}

.png {
    max-height: 25px;
}